<%- include('../layouts/header-anonymous') %>

<main>
  <div class="container-register">
    <div class="card-register">
      <h1>Registro</h1>

      <% if (message) { %>
        <div class="alert-message <%= message.type %>">
          <%= message.alert %>
        </div>
      <% } %>

      <form action="/register" method="POST" class="form-register">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" name="name" placeholder="Tu nombre" required>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" placeholder="ejemplo@mail.com" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" name="password" placeholder="********" required>
        </div>

        <button type="submit">Registrarse <i class="fa-solid fa-user-plus"></i></button>
      </form>

      <p class="redirect-text">¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></p>
    </div>
  </div>
</main>

<%- include('../layouts/footer') %>